
.floor-carousel {
  position: relative; /* Make the parent of the carousel relative so that child elements can be positioned absolutely */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: auto;
}

.floor-carousel > span {
  position:absolute;
  top: 55%;
  left: 45%;
  z-index: 1;
}

.floor-carousel__nav__button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 5px #aaa);  /* Add a drop shadow to the buttons */
  z-index: 1;
}

.floor-carousel__nav__button--up {
  top: 0.1rem;
}

.floor-carousel__nav__button--down {
  bottom: 0.1rem;
}

.floor-carousel__nav__button--enabled {
  pointer-events: auto;
  cursor: pointer;
  opacity: 1;
}

.floor-carousel__nav__button--disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.3;
}
