
/* **************************************************************************************************** */
/*  Styling of the locker compartment                                                                   */
/* **************************************************************************************************** */
.locker-compartment {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: rgb(75, 172, 235);
  color: rgb(103, 235, 213);
  height: auto;
  border: 0.05em solid rgb(75, 75, 75);
  border-radius: 0.1em;
}

/* Make the displayed box quadratic by taking up all horizontal space that corresponds to the width of the parent object */
.locker-compartment::before {
  content: "";
  padding-bottom: 100%; /* 1:1 Aspect Ratio – quadratic */
  display: block;
}

/* Let the button take up the entire grid cell by overlapping with the pseudo-element .locker-compartment::before */
.locker-compartment::before,
.locker-compartment > button
{
  grid-area: 1 / 1 / 2 / 2;   /* span the entire grid which has only one cell */
}

/* **************************************************************************************************** */
/* Styling of the button                                                                                */
/* **************************************************************************************************** */
.locker-compartment > button {
  display: inline-block;
  position: relative; /* make the button a positioned element */
  width: 100%; /* take up the entire width of the grid cell */
  height: 100%; /* take up the entire height of the grid cell */
  /* font-size: 4em; */
  background-color: transparent;
  color: rgb(75, 75, 75);
  border: none; /* display as flat area */
  overflow: hidden;
  transition-duration: 0.5s;
}

/* Styling of the button when hovered and as long it is enabled. */
.locker-compartment > button:hover:enabled {
  background-color: rgb(255, 184, 108);
  font-weight: bold;
}

/* Styling of disabled button */
.locker-compartment > button:disabled { /*011*/
  background-color: rgb(200, 200, 200);
  cursor: not-allowed;
}

/* Styling of selected button */
.locker-compartment > .locker-button.selected {  /*020*/
  background-color: rgb(255, 184, 108);
  font-weight: bold;
}

/* **************************************************************************************************** */
/* Styling of the button content                                                                        */
/* **************************************************************************************************** */
.locker-compartment > button > .button-content {
  display: flex;    /* establish flex container */
  align-items: center; /* center items vertically */
  justify-content: center; /* center items horizontally */
}

.locker-compartment > button > .button-content > span {
  flex: 1;
  font-size: 3em;
}

.locker-compartment > button > .button-content > img {
  /* width: 50px; Fixed width for the image */
  /* height: auto; Maintain aspect ratio */
  max-width: 25%; /* Adjust the maximum width of the image relative to the button content */
  max-height: 25%; /* Adjust the maximum height of the image relative to the button content */
  width: auto;
  height: auto;
  margin-left: 10px; /* Adjust margin as needed */
  margin-right: 10px;
}
