
body {
    background-color: #f4f4f4;
    margin-top: 50px;
    font-family: 'Lato';
}

.table-container {
    width: 1200px;
    height: 400px;
    overflow-y: auto;
}

.table-container table {
    table-layout: auto;
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

.table-container table td,th {
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.table-container table th {
    background-color: navajowhite;
}

.table-container table tr:hover { 
    background-color: lightyellow;
}