.user-input {
  display: flex;
  width: 100%;
  gap: 6px;
}

.user-input label {
  position: relative;
  width: calc(100% - 40px);
}

.user-input label .user-input__text {
  background-color: #33333300;
  color: #5a5a5a;
  width: 100%;
  min-width: minmax(100px, auto);
  padding: 20px 5px 5px 10px;
  /* outline: 10; */
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.user-input label .user-input__text + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 2em;
  cursor: text;
  transition: 0.3s ease;
}

.user-input label .user-input__text:placeholder-shown + span {
  color: #a6a6a6;
  top: 14px;
  font-size: 1.3em;
}

.user-input label .user-input__text:focus + span,
.user-input label .user-input__text:valid + span {
  color: #26b4b8;
  top: 3px;
  font-size: 0.9em;
  font-weight: 500;
}

/* .user-input label .user-input__text:invalid + span {
  color: #ff0000;
  top: 3px;
  font-size: 0.9em;
  font-weight: 500;
} */

.user-input__text {
  font-size: large;
}

