.flex-box--column {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  /* padding-left: 30px; */
  color: #26b4b8;
}

.info-message {
  font-size: 20px;
  color: rgb(90, 85, 85);
}

.flex-box--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 600px;
  margin-bottom: 20px;
  gap: 20px;
}

/* Use this class to get a flex column with dynamic width */
.flex-box--flex-column {
  flex: 1;
}

/* Use this class to get a flex column fixed to a width of 150px */
.flex-box--fixed-column-150px {
  width: 150px; /* replace with your desired width */
}
