.dropdown {
  width: 100%;
  min-width: minmax(100px, auto);
  display: inline-block;
  position: relative;
}

/* Style of the button showing the selection */
.dropdown.toggle input {
  display: flex;
  box-sizing: border-box;  /* This is important to make the input field the same size as the label due to its padding */
  width: 100%;
  padding: 20px 5px 5px 10px;  /* This is the padding around the input text */
  line-height: 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #5a5a5a;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
  box-shadow: 0 8px 5px -2px rgba(243, 241, 241, 0.3);
}

/***************************************************/
/* Basic styling of the arrow of the drop down box */

.dropdown.toggle input + label{
  position: absolute;
  width: calc(100% - 10px); /* Reduces the width of the label by 10px to account for the 10px right shift relative to the toggle */
  height: auto;
  cursor: pointer;
  left: 10px;
  top: 20px;
}

.dropdown.toggle input + label::after{
  content: "";
  float: right;
  margin: 0px 10px 0 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

/* The arrow of the drop down button when the input is not checked */
.dropdown.toggle.hide-options > input + label::after {
  border-top: 10px solid #26b4b8;
}

/* The arrow of the drop down button when the input is checked */
.dropdown.toggle.show-options > input + label::after {
  border-bottom: 10px solid #26b4b8;
}
/***************************************************/

/***************************************************/
/* Style of the container showing the list of elements to choose from */
.dropdown ul {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  max-height: 240px;
  overflow: scroll;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
  z-index: 10;
}

.dropdown ul li {
  height: 0;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

/* Style of the list of elements to choose from */
.dropdown ul li a {
  display: block;
  /* width: 100%; */
  padding: 0 10px;
  line-height: 40px;
  font-size: 18px;
  color: #5a5a5a;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 5px -2px rgba(243, 241, 241, 0.3);
}

/* Make the top left and right corner of the first list element rounded */
.dropdown li:first-child a {
  border-radius: 5px 5px 0 0;
}
/* Make the bottom left and right corner of the last list element rounded */
.dropdown li:last-child a {
  border-radius: 0 0 5px 5px;
}

/* Style of the label when hovering over it or when the checkbox is checked */
/* here we could control what should happen with the old value. */
/* We can do something similar with the input control, only that we use a span to show the current value */
.dropdown ul li a:hover {
  background-color: #EEE;
  color: #666;
}

.dropdown ul li:first-child a:hover::before {
  border-bottom-color: #EEE;
}

/* The size of the list elements when the input is checked and the list is expanded */
/* .dropdown.toggle > input:active ~ ul li, */
.dropdown.toggle.show-options > input ~ ul li {
  height: 40px;
}

/* The expanded list starts 15px below the button */
/* .dropdown.toggle > input:active ~ ul, */
.dropdown.toggle.show-options > input ~ ul{
  margin-top: 15px;
}

/* The collapsed list of elements has no border */
.dropdown.toggle.hide-options > input ~ ul {
  margin-top: 15px;
  border: none;
}

/***************************************************/
/* Styling of the span showing the placeholder for
 * the dropdown input button.
 */

.dropdown.toggle input + label span {
  color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 40px;
  transition: 0.3s ease;
}

.dropdown.toggle input:placeholder-shown + label span {
  color: #a6a6a6;
  top: 0px;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.dropdown.toggle input:not(:placeholder-shown) + label span {
  color: #26b4b8;
  top: -15px;
  font-size: 0.9rem;
  font-weight: 500;
}

/***************************************************/
